*{
    box-sizing: border-box;

}


.bgclor {
    background-color: #C8E6C9;
}
.green{
    background-color: #66BB6A;
}

@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
